/*
colores de web  
pastel blue #B0d0D3
english lavender #C08487
ligth salmon pink #F7AF9D

variantes claras
pastel blue #C3EBEE
english lavender #EFAEC3
ligth salmon pink #FCD1C6

variantes ocuras
pastel blue #72A6AB
english lavender #AB7578
ligth salmon pink #C38272

Inria Sans - Títulos
Montserrat - Texto
*/





body{
  font-family: Montserrat;
}

/*HEADER*/
/*copiado de https://keepcoding.io/blog/como-hacer-un-menu-de-navegacion-en-html/
==========================================================*/
.team_name {
  background-color: pink;
  width: 100%;
  position: fixed;
  z-index: 100;
  box-shadow: 10px 10px 50px #FCD1C6;
  left:0px;
  top:0px;
  text-align: center;
  font-family: Inria Sans;
  
}

.menu_bar {
  background-color: rgb(255, 239, 239);
  width: 100%;
  position: fixed;
  z-index: 100;
  box-shadow: 10px 10px 50px #FCD1C6;
  /*left: 0px;*/
  top: 16px;
border: orange solid;
}


.logo_img  {
  display:flex;
  align-content:flex-start;
  float:left;
  height: 100px;
  border: green solid;
  padding:10px;
}

.menu {
  float: right;
  margin-right: 20px;
}

.menu ul {
  list-style: none;
  overflow: hidden; 
}

.menu ul li {
  float: left;
  font-family: Inria Sans;
  font-size: 14px;
}

.menu ul li a {
  display: block; 
  padding: 20px;
  color:#C08487;
  text-decoration: none;
}


nav ul li:hover {
  background:#FCD1C6;
}

/*===========================================
/*HEADER*/
/*=========================================*/

/*=================
/*MAIN*/
/*=========================================*/


main {
display: flex; 
flex-direction: column;
border: solid red;

}

.banner {
background-color: lightblue;
height: 200px;
position: absolute;
top: 150px;
width:100%;
border: solid yellow;
text-align: center;
}

.banner_img {
  margin:auto;
}

.banner_img {
height: 200px;

}



.text_fotos {
border: solid pink;
width:80%;
margin:auto;
margin-top: 350px;
padding: 30px;
padding-bottom: 100px;

}







/*=================
/*MAIN*/
/*=========================================*/



/*=================
/*FOOTER*/
/*=========================================*/


footer {
position:fixed;
left:0px;
bottom:0px;
height: 30px;
width:100%;
background:#FCD1C6;
box-shadow: 10px 10px 50px #FCD1C6;
padding: 10px;
font-family: Inria Sans;
}

.material-symbols-outlined {
font-variation-settings:
'FILL' 0,
'wght' 400,
'GRAD' 0,
'opsz' 24;
color: #C08487;
display:inline-block;
vertical-align:top;
}

.copyright_text {
clear: left;
text-align: right;
vertical-align: middle;

}







/*=================
/*FOOTER*/
/*=========================================*/
